h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.logo {
  width: 100px;
}

.spinner-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

#spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 100px auto;
}

/* Spinner Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.profile-card {
  position: absolute;
  right: 10px;
  top: 10px;
  max-width: 320px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  padding: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.3s ease;
  box-shadow: 0 0 7px #63d2f4;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.profile-card:hover .profile-info {
  max-height: 250px;
}

.profile-card button {
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #eee;
  background: #101020;
}

.profile-name {
  text-align: center;
  margin: 0;
  color: #333;
}

.profile-detail {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.profile-detail strong {
  color: #111;
}

.all_audits span {
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding: 5px;
  color: #fff;
  width: 70px;
  border-radius: 5px;
}

.all_audits span:nth-of-type(1) {
  background-color: #0bb52d;
}

.all_audits span:nth-of-type(2) {
  background-color: crimson;
}

/* //------- */

rect {
  fill: steelblue;
  stroke: white;
  stroke-width: 1;
}

text {
  fill: rgb(168, 142, 142);
  font-size: 10px;
  text-anchor: middle;
  transition: opacity 0.3s;
}

.barG:hover text {
  opacity: 1;
}

.pie {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.chart-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

/* /-------- */

.popup-container {
  position: absolute;
  /* display: none; */
  width: 400px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--gray);
  transition: top 5s ease;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, top 0.5s ease;
}

.display-logout {
  /* display: block; */
  visibility: visible;
  opacity: 1;
  top: 50%;
}

.popup-header {
  margin-bottom: 20px;
  /* background: linear-gradient(to right, #173574, #b8dbfe); */
  background-color: #000086;
  padding: 5px;
  font-weight: 800;
  text-align: left;
  position: relative;
}

.popup-header span {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 4px;
  right: 4px;
  border-radius: 10px;
  background-color: red;
  cursor: pointer;
}


.popup-message {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  display: block;
  padding: 5px 15px;
  cursor: pointer;
  transition: backgroundColor 0.3s ease;
  margin: 2rem auto;
  background-color: #bebebe;
  margin: 10px;
}



.popup-footer {
  font-size: 12px;
  color: #555;
  margin: 20px 0 5px;

}

/* ///////charts */
section#chart-container {
  width: 100%;
  max-width: 1000px;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;


}

section#chart-container svg {
  max-width: 800px;
  height: auto;
  background-color: rgba(47, 39, 39, 0.524);
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #0084c2;
}

.line {
  fill: none;
  stroke: #0084c2;
  stroke-width: 2;
}

.point {
  fill: #71c2e7;
  stroke: #e1e1e1;
  stroke-width: 1;
}

line {
  stroke: #fff;

}

text {
  fill: #fff;
}

.highlight {
  fill: orange;
}

text {
  font-size: 12px;
  text-anchor: middle;
}

.point:hover {
  fill: cyan;
}